::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: $yellow;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &::selection {
    background: $yellow;
  }
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Comfortaa', sans-serif;
  background: $greyLight;
  color: $darkLight;
  text-decoration: none;
  width: 100%;
  overflow-x: hidden;
  -ms-overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: inherit;
  background-color: transparent;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  border-style: none;
}

ul, ol {
  padding-inline-start: 30px;
  margin: 15px 0 15px 30px;
}

h1, .h1 {
  font-size: 1.75rem;
  margin: 1em 0;
  line-height: 2rem;
  font-weight: 700;
  text-align: center;
}

h2, .h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 2rem 0;
  font-weight: 700;
}

h3, .h3 {
  font-size: 1.2rem;
  line-height: 1.75rem;
  margin: 1.5rem 0;
  font-weight: 700;
}

h4, .h4 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 1.25rem 0;
  font-weight: 700;
}

h5, .h5 {
  font-size: .875rem;
  line-height: 1.5rem;
  margin: 1rem 0;
  font-weight: 700;
}

h6, .h6 {
  font-size: .67rem;
  line-height: 1.5rem;
  margin: 1rem 0;
  font-weight: 700;
}

.pc {
  display: none;
}

.wrapper {
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
}

i, em {
  font-style: italic;
}

strong, b {
  font-weight: 700;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

small {
  font-size: 80%;
}

button {
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

.breadcrumb {
  padding: 25px 0;
  background: $white;
  text-transform: uppercase;
}

.all-page {
  margin: 0 auto 45px;

  .post-thumbnail {
    img {
      margin: 25px auto;
    }
  }
}

.alignleft {
  float: left;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}

.alignright {
  float: right;
  margin-left: 1.5em;
  margin-bottom: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
}
