footer {
  background: $purple;
  color: $white;
  padding: 25px 0;
  margin-top: 25px;
}

.believe {

  &-text {
    text-align: center;
  }

  &-icon {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
  }

  &-item {
    width: max-content;
  }
}

.footer-navigation {
  margin: 40px 0;

  ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 15px;
    font-size: 0.75rem;
  }
}

.copyright {
  font-size: 0.75rem;
  padding: 20px 0 0;
  border-top: 1px solid $white;
  text-align: center;
}

.secure-icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px 15px;
  margin: 15px 0;
}

@media (min-width: 1000px) {
  .believe {
    display: grid;
    grid-template-columns: max-content 1fr;

    &-text {
      text-align: right;
      padding-right: 20px;
      border-right: 1px solid $white;
    }

    &-icon {
      margin-top: 0;
      padding: 0 10px;
    }
  }

  .secure-icon {
    justify-content: flex-start;
    gap: 10px 15px;
    margin: 15px 0 0;
  }

  .copyright {
    display: grid;
    grid-template-columns: 1fr max-content;

    .left {
      text-align: left;
    }

    .right {
      text-align: right;
    }
  }
}